@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("../assets/bg/background-top.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo a img {
  height: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-btn ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#nav-btn,
ul li {
  text-decoration: none;
  color: #808080;
}

#nav-btn:hover,
ul li:hover {
  color: #00bfff;
  cursor: pointer;
}

#buy-btn,
#play-btn {
  background-color: #1e90ff;
  color: #ffffff;
  border: none;
  padding: 20px 30px;
  border-radius: 40px;
}

#buy-btn:hover,
#play-btn:hover {
  color: #1e90ff;
  background-color: #ffffff;
  cursor: pointer;
}

#buy-btn,
#play-btn,
#nav-btn,
ul li,
.call {
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.logo-container {
  width: 100%;
  margin-top: 100px;
  height: 620px;
  display: flex;
}

.logo-info {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 30px;
}

.logo-info h1 {
  font-size: 50px;
  font-weight: 400;
}

p {
  font-weight: 200;
  color: #7e7a7a;
}

/* .logo-info p,
.why-container p,
.tag p {
  font-weight: 100;
} */

.play-container {
  margin-top: 20px;
}

.play-container a {
  margin-left: 20px;
}

#learn {
  text-decoration: none;
  color: #00bfff;
}

#learn:hover {
  color: #808080;
}

.logos {
  height: 100%;
  width: 65%;
}

.sml-logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-size: 40px 40px;
  animation-name: shrink;
}

.sml-logo,
.lg-logo {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px #808080;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation-duration: 4s;
}

.lg-logo {
  height: 75px;
  width: 75px;
  background-size: 50px 50px;
  animation-name: rotate;
}

#logo1 {
  background-image: url("../assets/logos/google.png");
  top: 200px;
  right: 400px;
}

#logo2 {
  background-image: url("../assets/logos/atlassian.png");
  top: 200px;
  right: 250px;
}

#logo3 {
  background-image: url("../assets/logos/asana.png");
  top: 200px;
  right: 60px;
}

#logo4 {
  background-image: url("../assets/logos/paypal.jpg");
  top: 450px;
  right: 400px;
}

#logo5 {
  background-image: url("../assets/logos/weave.png");
  top: 450px;
  right: 150px;
}
#logo6 {
  background-image: url("../assets/logos/google-ads.png");
  top: 600px;
  right: 300px;
}
#logo7 {
  background-image: url("../assets/logos/calendar.png");
  top: 630px;
  right: 75px;
}

@keyframes shrink {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(320deg);
  }
  to {
    transform: rotate(0);
  }
}

.why-container {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.tag {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.diagram-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  width: 95%;
  height: 100%;
  display: flex;
}

.box {
  width: 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.line {
  height: 40px;
  width: 100%;
  position: relative;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  background: #999898;
  width: 38%;
  top: 45%;
}

.line::after {
  left: 0;
}

.line::before {
  right: 0;
}

.circle {
  background: #cadceb;
  height: 40px;
  width: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  height: 5px;
  width: 5px;
  background: #00bfff;
  display: block;
}

.circle,
.circle span {
  border-radius: 50%;
}

#basic::after,
#page::before {
  display: none;
}

.box h3 {
  font-weight: 400;
  font-size: 14px;
}

.pricing {
  height: 600px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.price-tag {
  height: 25%;
}

.sec4 {
  display: flex;
  /* border: 1px solid red; */
}

.price {
  height: 75%;
  width: 40%;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  transition: 1s ease 0.25s;
}

.price-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
  gap: 20px;
  padding-bottom: 60px;
}

.price:hover {
  cursor: pointer;
  box-shadow: 0 0 10px;
}

.price-detail h3 {
  flex: 1;
}

.price-detail p,
.play-vid {
  flex: 2;
}

.price-detail h3 {
  font-size: 50px;
  display: flex;
  align-items: baseline;
  gap: 5px;
  font-weight: 400;
  padding-top: 45px;
}

.price-detail span {
  font-weight: 400;
  color: #999898;
  font-size: 20px;
}

.price-detail p {
  font-size: 20px;
}

#credit {
  font-size: 12px;
}

.play-vid button {
  margin-bottom: 10px;
}

.components-wrap {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.component {
  height: 50%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.img {
  height: 50px;
  width: 50px;
  background: center no-repeat;
}

#component {
  background-image: url("../assets/images/components.svg");
}

#images {
  background-image: url("../assets/images/images.svg");
}

#cancel {
  background-image: url("../assets/images/cancel.svg");
}

#money {
  background-image: url("../assets/images/moneyback.svg");
}

.component p {
  font-size: 14px;
}

.form-wrap {
  height: 700px;
  width: 100%;
  background-color: #091041;
}

.hire-container {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  padding: 30px;
  gap: 30px;
}

.hire-sec {
  width: 40%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hire-sec h2 {
  font-size: 30px;
}

.hire-sec h2,
.quote,
.profile h3 {
  color: #ffffff;
}

.profile h3 {
  margin: 20px 0 10px 0;
}

.dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../assets/images/man_one.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.form-container {
  width: 60%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 40px;
}

form h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.info,
.email {
  height: 40px;
  border: 1px solid #d4d2d2;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.info {
  width: 49%;
}

.email {
  width: 99%;
}

select {
  height: 40px;
  width: 49%;
  border: 1px solid #d4d2d2;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #d4d2d2;
  width: 99%;
  margin-bottom: 20px;
}

.policy {
  margin-right: 5px;
}

.policy-text {
  font-weight: 200;
}

form a {
  text-decoration-style: dashed;
  transition: 1s ease;
}

form a:hover {
  color: #808080;
}

form button {
  margin-top: 20px;
  text-align: center;
}

.footer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 60px;
}

.foot-logo {
  height: 60px;
  width: 120px;
  background-image: url("../assets/logos/logo-front.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.call {
  color: #00bfff;
  font-weight: 400;
}

.call:hover {
  cursor: pointer;
  color: #808080;
}

.foot-sec {
  margin-top: 30px;
}

.foot-sec p i {
  margin-right: 10px;
  margin-bottom: 20px;
}

.foot-sec h4 {
  margin-bottom: 30px;
  font-size: 20px;
}

ul li {
  list-style: none;
  margin: 15px auto;
}

li span {
  background: #1e90ff;
  color: #ffffff;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
}
